body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

p {
    max-width: 600px;
    text-align: left;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #ffef00;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #edda07;
    
}


#card {
   
    border: 2px solid #ccc;
    border-radius: 15px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-bottom: 20px;
    transition: transform 0.3s;


}

#card:hover {
    transform: translateY(-5px);
}

#image {
    width: 100%;
    height: 210px;
    overflow: hidden;
}

#image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#followers {
    text-align:left; 
    padding: 15px;
}

#followers p {
    margin: 5px 0;
    color: #000000;
}

#followers p:first-child {
    font-weight: bold;
    font-size: 18px;
}

#followers p:nth-child(2) {
    color: #0077cc;
    font-weight: 600;
}

#myusername{
    padding:20px;
    width: 200px;

}
label{
    font-size:xx-large;
    font-weight:bold ;
    color:#000000;
    margin: 20px;
    padding:10px;
    align-items: center;
}

label span{
    color: #ffef00;
    text-shadow: #333;
}

